.login-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.login-wrapper {
  display: contents;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formControl {
  padding: 8px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #b1b5be;
  background-color: transparent;
  color: #282828;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.formInputContainer {
  position: relative;
}

.inputIcon {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}

.errorMessage {
  margin-left: 8px;
  padding-top: 3px;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 1.1;
}

.boton-elegante {
  width: 150px;
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.5s ease;
  outline: none;
  letter-spacing: 0.04em;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
  transform: scale(1.04);
}

@media screen and (min-width: 768px) {
  .login-container {
    display: flex;
    height: 400px;
    align-items: center;
  }

  .login-wrapper {
    display: flex;
    padding: 60px 20px;
    background-color: #f3f3f3;
    width: 400px;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  .welcome-wrapper {
    background-image: url("../../../public/bg-image.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;
    border-radius: 0 20px 20px 0;
  }

  .welcome-title {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .welcome-text {
    font-size: 18px;
    letter-spacing: 0.04em;
  }
}
